<h1>Dank Memes!</h1>

<input type="range" id="myRange" value="100">

<input type="range" id="myRange1" value="100">

<button type="button" id="mybtn">Click Me!</button>

<img src="" id="imagediv"></img>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>
$('#mybtn').click(function (event) {
        $.ajax({
            url: "/get_meme",
            type: "GET",
            data: {range: document.getElementById("myRange").value, range1: document.getElementById("myRange1").value},
            success: function (response) {
                $('#imagediv').attr('src', response);
            },
        });
    });
</script>